body {
  color: white;
  background: rgb(237, 237, 237);
  font-family: arial;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar { 
    display: none; 
}

.proj-ref-icon {
  height: 17px;
}

span li {
  /* text-align:center; */
  margin: 2%;
}

#header {
  -webkit-print-color-adjust: exact;
  background: url("images/Matt Linked In 3 (1).JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 28px 0px 0 40%;
  width: 60%;
  margin: 0;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, .1);
  height: fit-content;
}

#dev {
  color: black;
  font-size: 23px;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  text-align: left;
}

h3 {
  text-align: left;
  margin: 0;
}

main {
  width: 750px;
  margin: 0;
  z-index: 0;
  padding: 0%;
  background: white;
  color: black;
  box-shadow: 6px 5px 5px rgb(0, 0, 0, .1);
  display: inline-flex;
}

#h2Div {
  -webkit-text-stroke: 1px black;
  /* background: grey; */
  margin-top: 0px;
  padding: 20px;
  text-align: left;
  z-index: 0;
  width: 100%;
}

.sidepane {
  overflow: scroll;
  position: fixed;
  z-index: 2;
  padding: 5px;
  background: rgb(79, 79, 79);
  box-shadow: 5px 3px 5px rgb(0, 0, 0, .2);
  width: 16%;
  height: 97%;
  list-style-type: none;
  color: lightgray;
  margin: .5%;
  text-align: center;
}

.lineDivider {
  background: lightcyan;
  height: 1;
  width: 65%;
  margin: 0%;
}

.angled {
  margin-top: -7%;
  transform: rotate(0.422turn);
}
.header-r {
  margin: -16% 0% 0% 12%;
  padding: 0 27px 0 0;
}

.polygon {
  shape-outside: polygon(0 0, 0 122px, 227px 0px);
  width: 338px;
  height: 133px;
  float: left;
  opacity: .2;
}

h2 {
  color: white;
  /* text-align: center; */
  line-height: 0;
}

#container {
  width: 100%;
  /* margin: auto; */
}

#sub-container {
  width: 48%
}

.half-container {
  display: flex;
  justify-content: space-between;
  width: 96%;
  padding: 2%;

}

li {
  font-size: 85%;
  word-break: break-word;
  list-style: none;
}

#selfie {
  margin: 0;
  width: 100%;
}

.socialIcon {
  display: flex;
  width: 97px;
}
.all-skills {
  /* background: rgb(79, 79, 79); */
  display: flex;
  justify-content: space-around;
  padding: 1%;
  width: 98%;
  height: 7%;
}

.skillDiv {
  /* color: rgb(255, 255, 255, 0); */
  height: 100%;
  width: fit-content;
  /* background: grey; */
  padding: 3px;
  display: flex;
  flex-direction:  column;
}

.skillicons {
  align-self: center;
  padding: 0;
  height: 65%;
}

.blackout:hover {
  filter: blur(2px) brightness(.5);
}


.spin {
  -webkit-animation: rotation 7s infinite linear;
}

.spin:hover {
  -webkit-animation: rotation 2s infinite linear;
}

.wiggle:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.socialIcon img {
  -webkit-animation-name: rwiggle;
  -ms-animation-name: rwiggle;
  -ms-animation-duration: 8000ms;
  -webkit-animation-duration: 8000ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes rwiggle {
  85% {transform: rotate(0deg);}
  92% {transform: rotate(10deg);}
  94% {transform: rotate(-10deg);}
  96% {transform: rotate(20deg);}
  98% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@-ms-keyframes rwiggle {
  85% {transform: rotate(0deg);}
  92% {transform: rotate(10deg);}
  94% {transform: rotate(-10deg);}
  96% {transform: rotate(20deg);}
  98% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes rwiggle {
  85% {transform: rotate(0deg);}
  92% {transform: rotate(10deg);}
  94% {transform: rotate(-10deg);}
  96% {transform: rotate(20deg);}
  98% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.row {
  height: 5%;
  display: flex;
}

.skillHolder {
  position: fixed;
  z-index: 2;
  margin: .5% .5% .5% 83.8%;
  background: rgb(79, 79, 79);
  box-shadow: 5px 3px 5px rgb(0, 0, 0, .2);
  width: 15%;
  list-style-type: none;
  color: lightgray;
  line-height: 0px;
}



h5 {

  width: 100%;
  text-align: center;
  margin: 13px 0 0 0px;
  filter: blur(0px);
  line-height: 0;
  z-index: auto;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  pointer-events: none;
}

.socialIcon img {
  width: 20px;
  margin: 3px;
}